/* Used to declare Adam CG Pro Font face */
@font-face {
	font-family: adamCG;
	src: url(assets/adamCG.otf);
}

@font-face {
	font-family: sourceSerif;
	src: url(assets/sourceSerif.ttf);
}

@font-face {
	font-family: cabin;
	src: url(assets/cabin.ttf);
}

/* This applies to every element/tag */
* {
	font-family: adamCG;
	font-size: 20px;
}

body, html {
	background-color: white;
}

h1 {
	font-size: 45px;
	text-align: center;
}

h2 {
	font-size: 38px;
	margin-bottom: 10px;
}

/* signifies every h3 that follows directly after an h2 */
h2 + h3 {
	font-family: sourceSerif;
	font-size: 25px;
	font-style: italic;
	
	display: inline;
	margin-bottom: 10px;
}

h2 + h3 + p {
	margin-top: 0px;
}

/* Navigation Pane stuff */
#navigationPane {
	border-bottom: 2px solid black;
	width: 100%;
	text-align: center;
}

#navigationPane a {
	color: black;
}

#navigationPane td {
	width: 33%;
}

/* For when your mouse hovers over a button on the pane */
#navigationPane td:hover {
	background-color: #cccccc;
}

#navigationPane td:hover a {
	background-color: #cccccc;
}

.blurb {
	background-color: #cccccc;
	padding: 20px 50px 20px 50px;

	font-style: italic;
	font-weight: bold;
	font-family: sourceSerif;
	font-size: 25px;
}

.time {
	display: inline;
}

.line {
	height: 100%;
}

#line3 {
	text-align: center;
}

.period {
	height: 420px;
	width: 20%;

	padding: 2% 2% 2% 2%/*20px 20px 20px 20px*/;
	display: inline-block;
	vertical-align: top;
}

.periodImage {
	height: 420px;
	width: 50%;

	padding: 2% 0px 2% 0px;
	display: inline-block;
	vertical-align: top;

	text-align: center;
}

.period p {
	font-family: cabin;
	text-align: justify;
}

.periodImage p {
	font-family: cabin;
}

.bio {
	height: 600px;
	width: 45%;

	padding: 2% 2% 2% 2%/*20px 20px 20px 20px*/;
	display: inline-block;
	vertical-align: top;

	text-align: center;
}

.bio p {
	font-family: sourceSerif;
	font-weight: bold;

	text-align: left;
}

.bio h3 {
	font-family: adamCG;
	font-size: 25px;
}